Skip to content
Why GitHub? 
Enterprise
Explore 
Marketplace
Pricing 
Search

Sign in
Sign up
1 0 0 leandroalcantarasouza/todo-mvc-frontend
 Code  Issues 0  Pull requests 0  Projects 0  Security  Insights
Join GitHub today
GitHub is home to over 36 million developers working together to host and review code, manage projects, and build software together.

todo-mvc-frontend/.gitignore
@leandroalcantarasouza leandroalcantarasouza Updating .gitignore
2c5d805 on 22 Apr
44 lines (35 sloc)  520 Bytes
    
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build/*
/dist/*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

*.iml
